aiohttp
beautifulsoup4
hachoir
numpy
Pillow
git+https://github.com/TGExplore/pyrogram.git
requests
tgcrypto
yt-dlp
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
lk21
Flask==2.2.2
gunicorn==20.1.0
